body {
  background-color: cornsilk;
}

.nav-ul {
  background-color: grey;
  width: 100%;
  margin-top: 0px;
}
.nav-ul li {
  display: inline-block;

  padding: 15px;
  cursor: pointer;
}

.nav-ul li :hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
}

.nav-ul li a {
  color: black;
  background-color: grey;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;

  border-radius: 5px;
}

.footer {
  background-color: grey;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
}
.container1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
}
.form {
  /* margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 0%;
  /* margin-right: 30%; */
  padding: 10px;

  position: relative;
  margin-top: 100px;
  width: 500px;
  height: auto;
  background-color: grey;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inp {
  display: block;
  margin: 25px;
  padding: 5px;
  width: 250px;
  margin-right: 2%;
  border: 1px solid white;
  border-radius: 5px;
}
.inp-btn {
  display: block;
  margin: 25px;
  padding: 5px;
  width: 250px;
  margin-right: 2%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: blue;
}
.right {
  text-align: right;
}

.normal {
  margin-left: 5%;
}
hr {
  color: black;
  width: 50%;
}
