* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.flex-box {
  display: flex;
  margin-bottom: 20px;
}
.sidebar {
  background-color: grey;
  border: 5px solid black;
  flex: 1;
}
.container {
  width: 100vw;
  max-width: 1500px;
  /* margin: 5rem auto; */
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  gap: 1.5rem;
  flex: 7;
  border: 5px solid black;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    /* align-items: start; */
  }
}
@media screen and (max-width: 760px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    /* align-items: start; */
  }
}
.book {
  max-width: 500px;
  padding: 20px;
  margin: 10px;
  text-align: start;
  background-color: rgb(45, 45, 47);
  /* border-radius: 1.3rem; */
  border-width: 10px;
  border-color: black;
  align-content: center;
}
.book h1 {
  font-size: 1rem;
  color: rgb(238, 236, 236);
}
img {
  min-height: 20px;
  min-width: 20px;
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border-radius: 10px;
  margin: 20px;
}
